@page {
    size: A4;
    margin: 20mm 15mm;
}


:root {
    --dark-green: #0C2218;
    --light-green: #A6FE84;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Figtree, opensans, Arial, Helvetica, sans-serif;
}

.page-break {
    break-before: page;
    page-break-before: always;
}

.page {
    width: 100%;
    box-sizing: border-box;
}


/* Cover Page */

.coverHead {
    margin-top: 7mm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20mm;
    text-align: center;
}

.coverLogo img {
    max-height: 20mm;
    padding-left: 10mm;
}

.website {
    font-size: 14px;
    border-left: 1px solid #333;
    padding-top: 7mm;
    padding-left: 6mm;
    height: 12mm;
    width: 28%;
    text-align: left;
}

.coverTitleBlock {
    background-color: var(--light-green);
    height: 75mm;
    width: 100%;
    margin-top: 7mm;
    margin-bottom: 0 !important;
}

.coverTitle {
    font-size: 90px;
    font-weight: 700;
    color: var(--dark-green);
    text-align: left;
    padding-top: 15mm;
    padding-left: 15mm;
    margin-bottom: 0 !important;
}

.dateBlock {
    background-color: var(--light-green);
    height: 50mm;
    width: 100%;
    margin-top: 0 !important;
    position: relative;
}

.coverDate {
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-green);
    text-align: left;
    padding-top: 10mm;
    padding-left: 15mm;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 50mm 38mm;
    border-color: transparent transparent #dbdbdb transparent;
    transform: rotate(0deg);
    position: absolute;
    bottom: 0;
    right: 0;
}

.grayBlock {
    background-color: #dbdbdb;
    height: 32mm;
    width: 100%;
    margin-top: 0 !important;
}